@import "tailwindcss";

:root {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-400);
}

@theme inline {
  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-neutral-0: #fff;

  --color-blue-600: #177dff;
  --color-blue-400: #4ca6ff;

  --color-red-500: #d64d6b;

  --color-green-500: #4dd67b;

  --color-yellow-400: #f4dc73;

  --font-sora-bold: var(--font-sora-bold);
  --font-sora-regular: var(--font-sora-regular);
  --font-sora-semibold: var(--font-sora-semibold);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora-regular), Arial, Helvetica, sans-serif;
}
