@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-neutral-0: #fff;

  --color-blue-600: #177dff;
  --color-blue-400: #4ca6ff;

  --color-red-500: #d64d6b;

  --color-green-500: #4dd67b;

  --color-yellow-400: #f4dc73;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
